/* IMPORT: */
@import "./reset.css";
@import "./colors.css";

/* SITE: */
body {
  font-family: "Inter", sans-serif;
  /* font-family: "Sedan", serif; */
  background-image: url("../images/gta-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100dvh;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* NAVIGATION BAR: */
.navbar {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 80vh; */
  /* position: fixed;
  top: 0;
  right: 0;
  left: 0; */
}

@media only screen and (min-width: 768px) {
  .navbar {
    flex-direction: row;
  }
}

.menu {
  display: none;
  flex-direction: column;
  margin-top: 10px;
}

@media only screen and (min-width: 768px) {
  .menu {
    display: flex;
    flex-direction: row;
    margin-top: 0;
  }
}

.menu.active {
  display: flex;
}

.menu li {
  margin: 20px;
  text-align: center;
}

.menu li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 30px;
  background-color: rgba(51, 51, 51, 0.8);
  border-radius: 3px;
  font-size: 20px;
  font-weight: 500;
}

.menu li a:hover {
  color: var(--orange);
}

@media only screen and (min-width: 768px) {
  .menu li a {
    background-color: transparent;
  }
}

.burger-menu {
  background-color: rgba(51, 51, 51, 0.8);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 5px;
}

@media only screen and (min-width: 768px) {
  .burger-menu {
    display: none;
  }
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 3px 0;
  border-radius: 3px;
}

/* HEADER LOGO: */
.header {
  min-height: 80vh;
  margin: 100px 0 0;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1.main-heading {
  margin: 60px 20px 120px;
  /* color: var(--orange); */
  color: var(--white);
  font-size: 40px;
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  h1.main-heading {
    font-size: 50px;
  }
}

.snapback-logo {
  width: 65%;
  margin: 10px;
}

@media only screen and (min-width: 768px) {
  .snapback-logo {
    width: 25%;
  }
}

/* BUTTONS: */
.cta-wrapper {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .cta-wrapper {
    flex-direction: row;
  }
}

.call-to-action {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px 20px;
  margin: 10px;
  border-radius: 6px;
  color: var(--white);
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

.call-to-action:hover {
  color: var(--orange);
}

/* DESCRIPTION: */
.description-wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  width: 80vw;
  margin: 100px 0 100px;
  padding: 50px 10px;
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* ??? */
@media only screen and (min-width: 768px) {
  .description-wrapper {
    flex-direction: row-reverse;
    text-align: left;
    justify-content: space-between;
    padding: 50px;
  }
}



.description-wrapper div h2 {
  font-size: 32px;
  font-weight: bold;
  margin: 10px 0 50px 0;
}

.description-wrapper div p {
  margin: 20px 0;
}

.description-wrapper img {
  width: 180px;
  border-radius: 50%;
  margin: 50px;
}

/* IFRAME / VIDEO: */
.video-iframe {
  width: 280px;
  height: 157.5px;
  border: none;
  border-radius: 8px;
  margin: 10px 0 100px;
}

@media only screen and (min-width: 500px) {
  .video-iframe {
    width: 373.33px;
    height: 210px;
  }
}

@media only screen and (min-width: 768px) {
  .video-iframe {
    width: 560px;
    height: 315px;
  }
}

/* SOCIAL MEDIA LINKS: */
.social-media-links-wrapper {
  padding: 80px 10px;
  margin: 0 0 150px 0;
}

.social-media-links-wrapper a {
  font-size: 30px;
  padding: 10px;
  margin: 10px;
}

@media only screen and (min-width: 500px) {
  .social-media-links-wrapper a {
    font-size: 60px;
    margin: 20px;
  }
}

@media only screen and (min-width: 768px) {
  .social-media-links-wrapper a {
    font-size: 80px;
    margin: 30px;
  }
}

.social-media-links-wrapper a.twitter {
  color: #1da1f2;
}

.social-media-links-wrapper a.tiktok {
  color: #ff0050;
}

.social-media-links-wrapper a.youtube {
  color: #ff0000;
}

.social-media-links-wrapper a:hover {
  color: var(--orange);
}

/* FOOTER: */
.footer {
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--white);
  min-width: 100%;
  max-width: 100%;
  min-height: 30vh;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.footer > .menu-footer {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px 0;
  margin: 30px 0 80px;
}

.footer > .menu-footer a {
  color: #fff;
  text-decoration: none;
  padding: 10px 30px;
  margin: 20px;
  font-size: 20px;
  font-weight: 500;
}

.footer > .menu-footer a:hover {
  color: var(--orange);
}

/* ------ */
/* PAGES: */
.pages-wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  color: var(--white);
  width: 90vw;
  margin: 100px 0;
  padding: 50px;
}

@media only screen and (min-width: 768px) {
  .pages-wrapper {
    width: 60vw;
  }
}

.pages-wrapper > h2 {
  font-size: 34px;
  font-weight: bold;
  margin: 20px 20px 60px 20px;
}

.pages-wrapper > h3 {
  font-size: 30px;
  font-weight: bold;
  margin: 30px 20px 20px 20px;
}

.pages-wrapper > h4 {
  font-size: 26px;
  font-weight: bold;
  margin: 30px 20px 20px 20px;
}

.pages-wrapper > h5 {
  font-size: 22px;
  font-weight: bold;
  margin: 30px 20px 20px 20px;
}

.pages-wrapper > h6 {
  font-size: 18px;
  font-weight: bold;
  margin: 30px 20px 20px 20px;
}

.pages-wrapper > p {
  margin: 20px;
}

.pages-wrapper > ul {
  margin: 20px;
  padding-left: 10px;
  list-style-type: disc;
}
.pages-wrapper > ul li {
  margin: 5px 20px;
}
